
%article#product-info{:itemtype => "http://schema.org/Product"}
  %meta{:itemprop => 'productID', :content => "110021-scout-seattle-single-blade-lock-back-knife"}

  #product-media
    %figure.slides_container
      -@pics.each do |pro|
        %a{:href => '#'}
          %img.image{:src => pro.url(:pro610), 'data-order' => "image-#{pro.id}", :alt => "Single Blade Lock-back Knife Bone Stainless Steel", :itemprop => 'image', :width => 610, :height => 610}       
    %ul.more-views.pagination
      -@pics.each do |pro|
        %li{'data-order' => "image-#{pro.id}", :class => "image-#{pro.id}"}
          %a{:href => '#'}
            %img.image{:src => pro.url(:pro70), 'data-order' => "image-#{pro.id}", :alt => "Single Blade Lock-back Knife Bone Stainless Steel", :width => 70, :height => 70}
  #product-overview
    %header
      %h1
        %a.name{:href => "http://makr.com/scout-seattle-single-blade-lock-back-knife-bone-stainless-steel", :itemprop => 'url', :rel => 'bookmark'}
          %span.brand{:itemprop => 'model'}='Scout'
          %span.name{:itemprop => 'modle'}='Single Blade Lock-back Knife'
          %span.finish='Bone Stainless Steel'
      %p.description{:itemprop => 'description'}='one handle. Stainless steel locking blade – hollow ground drop point. Brass liner. Brushed nickel bolsters. Made in USA.'
      .dimensions
        %small.dimensions.standard="3.5\" &times; 1\" &times; .375\""
        %small.dimensions.metric='88.9mm &times; 25.4mm &times; 9.525mm'
      %mark.special='Ships directly from Scout in Seattle, WA.'
    %footer
      .price-box.regular-price.final-price
        %span.currency='$'
        %span.price='98.00'
        %form#product_addtocart_form{:action => "http://makr.com/checkout/cart/add/uenc/aHR0cDovL21ha3IuY29tL3Njb3V0L3Njb3V0LXNlYXR0bGUtc2luZ2xlLWJsYWRlLWxvY2stYmFjay1rbmlmZS1ib25lLXN0YWlubGVzcy1zdGVlbA,,/product/415/", :method => 'post'}
          %input{:type => 'hidden', :value =>415, :name => 'product'}
          %input#related_products-field{:type => 'hidden', :value => ''}
          .product-qty
            %label.required{:for => 'qty'}='Qty'
            %input#qty.input-text.qty{:type => 'text', :name => 'qty', :maxlength => 12, :value => 1, :title => 'Quantity'}
          %em.availability.in-stock
            %link{:itemprop => "availability", :href => "http://schema.org/InStock"}='In Stock'
          .add-to-cart
            %button#add-to-cart.button-em{:type => 'button', :onclick => "productAddToCartForm.submit(this)"}='Add to Bag'

      %a.label{:href => '#', :rel => 'auth-required', 'like-id' => @like_id}
        -if @like_id
          %i.icon-heart.icon-red
        -else
          %i.icon-heart.icon-white
%aside#upsell-products
  %ul
    %li.product.link-group
      %a{:title => "Plate Hook Pewter Powder Coated Stainless Steel", :href => "http://makr.com/plate-hook-pewter"}
        %img{:src => "http://makr.com/media/catalog/product/cache/1/thumbnail/243x243/8d6882b137b3069e8cea9e13e57aa14a/h/o/hookplate_pew_fr_gr_1.jpg.pagespeed.ce.N7mkJyrmka.jpg", :alt => "Plate Hook Pewter Powder Coated Stainless Steel", :width => 162, :height => 162}


    %li.product.link-group
      %a{:title => "Plate Hook Pewter Powder Coated Stainless Steel", :href => "http://makr.com/plate-hook-pewter"}
        %img{:src => "http://makr.com/media/catalog/product/cache/1/thumbnail/243x243/8d6882b137b3069e8cea9e13e57aa14a/h/o/hookplate_pew_fr_gr_1.jpg.pagespeed.ce.N7mkJyrmka.jpg", :alt => "Plate Hook Pewter Powder Coated Stainless Steel", :width => 162, :height => 162}

    %li.product.link-group
      %a{:title => "Plate Hook Pewter Powder Coated Stainless Steel", :href => "http://makr.com/plate-hook-pewter"}
        %img{:src => "http://makr.com/media/catalog/product/cache/1/thumbnail/243x243/8d6882b137b3069e8cea9e13e57aa14a/h/o/hookplate_pew_fr_gr_1.jpg.pagespeed.ce.N7mkJyrmka.jpg", :alt => "Plate Hook Pewter Powder Coated Stainless Steel", :width => 162, :height => 162}

    %li.product.link-group
      %a{:title => "Plate Hook Pewter Powder Coated Stainless Steel", :href => "http://makr.com/plate-hook-pewter"}
        %img{:src => "http://makr.com/media/catalog/product/cache/1/thumbnail/243x243/8d6882b137b3069e8cea9e13e57aa14a/h/o/hookplate_pew_fr_gr_1.jpg.pagespeed.ce.N7mkJyrmka.jpg", :alt => "Plate Hook Pewter Powder Coated Stainless Steel", :width => 162, :height => 162}

    %li.product.link-group
      %a{:title => "Plate Hook Pewter Powder Coated Stainless Steel", :href => "http://makr.com/plate-hook-pewter"}
        %img{:src => "http://makr.com/media/catalog/product/cache/1/thumbnail/243x243/8d6882b137b3069e8cea9e13e57aa14a/h/o/hookplate_pew_fr_gr_1.jpg.pagespeed.ce.N7mkJyrmka.jpg", :alt => "Plate Hook Pewter Powder Coated Stainless Steel", :width => 162, :height => 162}
:javascript

  $(function(){
    $('#product-media').slides({
        preload: true,
        preloadImage: '/assets/ajax-loader.gif',
        effect: 'slide, fade',
        crossfade: true,
        slideSpeed: 350,
        fadeSpeed: 500,
        generateNextPrev: false,
        generatePagination: false
    })
  });

:javascript
  $(function(){
    var $icon = $('a.label','footer');
    $icon.click(function(){
      if($icon.attr('like-id') == '' || $icon.attr('like-id') == undefined){
        $.post("/posts/#{@proto.id}/likes.json").success(function(data){
          $icon.attr('like-id', data.id);
          $('i', $icon).removeClass('icon-white');
          $('i', $icon).addClass('icon-red');
        });
      }else {
        $.post("/posts/#{@proto.id}/likes/"+ $icon.attr('like-id') +".json", {'_method': 'delete'}).success(function(data){
          $icon.attr('like-id', '');
          $('i', $icon).removeClass('icon-red');
          $('i', $icon).addClass('icon-white');
        });
      }
      return false;
    });
  });
.test














