-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

!!!
%html{:lang => I18n.locale.to_s, :dir => (rtl?) ? 'rtl' : 'ltr'}
  %head
    %meta{:charset => 'utf-8'}
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}

    %meta{:name => "description", :content => "Diaspora*"}
    %meta{:name => "author", :content => "Diaspora, Inc."}

    %meta{:name => "HandheldFriendly", :content => "True"}
    %meta{:name => "MobileOptimized", :content => "320"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}

    %link{:rel => 'shortcut icon', :href => "#{image_path('favicon.png')}" }
    %link{:rel => 'apple-touch-icon', :href => "#{image_path('apple-touch-icon.png')}"}

    = og_site_name
    = chartbeat_head_block
    = include_mixpanel

    %title
      = page_title yield(:page_title)

    = include_base_css_framework(:bootstrap)
    = #stylesheet_link_tag :default, 'new-templates', :media => 'all'

    - if rtl?
      = stylesheet_link_tag :rtl, :media => 'all'

    = old_browser_js_support
    <!--[if IE]>
    = javascript_include_tag :ie
    <![endif]-->

    = jquery_include_tag

    = set_current_user_in_javascript

    - unless @landing_page
      =# javascript_include_tag :main, :templates
      =# load_javascript_locales

    = set_asset_host
    = translation_missing_warnings
    = current_user_atom_tag

    - if @post.present?
      %link{:rel => 'alternate', :type => "application/json+oembed", :href => "#{oembed_url(:url => post_url(@post))}"}
      = og_page_specific_tags(@post)

    = yield(:head)

    =stylesheet_link_tag 'wb.base', :media => 'all'
    =javascript_include_tag 'plugin'
    =javascript_include_tag 'jq.wb.fn.min'
    =javascript_include_tag 'jq.wb.run.min'
    =javascript_include_tag 'wb.mage.product.min'

    = csrf_meta_tag

    = include_gon(:camel_case => true, :namespace => :preloads)

  %body.cms-index-index.cms-home
    = flash_messages
    %noscript
      %aside.grid.global-notice
        %mard='JavaScript seems to be disabled in your browser.'
        %br
        %small.expressive='You must have JavaScript enabled in your browser to utilize the functionality of this website.'


    .container
      %header#header{:itemscope => "", :itemtype => "http://schema.org/Store"}
        %hgroup.link-group
          %h1='原物'
          %h3{:itemprop => 'name'}
            %a{:href => 'http://makr.com/', :itemprop => 'url'}='Protoduct'
        %hgroup#site-description.span3
          %h1#site-title='PROTO TO PRODUCT'
          %H2#site-subdescription='Design Club and Shops ONLY with 3D Prints'

      %nav#menu-top
        %ul#drawer-menu.menu-items
          %li.menu-item
            %a{:href => '#'}
              %span.level-top='首页'
          %li.menu-item
            %a{:href => '#'}
              %span.level-top='我的原物'
          %li.menu-item
            %a{:href => '#'}
              %span.level-top='设计师'
          %li.menu-item.parent
            %span.level-top='服务'
            %dl#mini-login.drawer
              %dt.drawer-title='Sign in or Register for an Account'
              %dd.drawer-content

          %li.menu-item.parent.mini-cart-button
            %span.level-top='BLOG'
            %span#cart-status
      = yield
      %footer#footer
        %p='Copyright 2012 Protoduct. No Animals were harmed in the making.'
        %p='Proudly powered by Diaspora*'


    = include_chartbeat
    = include_mixpanel_guid
